
.background path {
  fill: none;
  stroke: none;
  stroke-width: 20px;
  pointer-events: stroke;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis .title {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.string {
  font-size: 6px;
}

.label {
  -webkit-transition: fill 125ms linear;
}

.active .label:not(.inactive) {
  font-weight: bold;
  font-size: 11px;
}

.label.inactive {
  fill: #ccc;
}

.foreground path.inactive {
  stroke: #fff;
  stroke-opacity: .5;
  stroke-width: 1px;
}

.controls {
  background-color: #dde;
  padding: 15px;
  border-radius: 10px;
}

h4 {
  text-align: center;
  color: #559;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: lightgray;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}

.brushed {
    stroke: #8e1b54;
    opacity: 1.0;
}

.non_brushed {
    opacity: 0.5;
}

svg {
font: 10px sans-serif;
}


.brush .extent {
fill-opacity: .3;
stroke: #fff;
shape-rendering: crispEdges;
}

.axis line,
.axis path {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.axis text {
text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
cursor: move;
}


path:hover {
  stroke: #000;
  stroke-width: 1.5px;
  transition: fill 250ms linear;
  transition-delay: 250ms;
}


#monthInfo {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border-style: solid;
  border-color: #ccf;
  border-width: 1px;
}

.infoHeader {
  color: #448;
}

#pie-month-info
{
  background-color: #dde;
  border-radius: 10px;
  margin-left: 30px;
  padding-top: 40px;
  padding-left: 20px;
}

h1 {
  margin: 20px;
  font-weight: bold;
}

/* Disable scrolling
body{
  overflow: hidden;
}*/

#datainfo {
  padding-top: 20px;
  padding-right: 20px;
  color: #777;
}



#lists {
 
  background-color: #dde;
  padding: 15px;
  border-radius: 10px;
  border-style: solid;
  border-color: #ccf;
  border-width: 1px;
  height: 100%;
  
}


.scroll-menu {
    width: 100%; /* Set a width if you like */
    overflow:hidden;
    overflow-y:scroll;
    overflow-x: hidden;
    height: 400px;
    margin-top: 20px;
    object-position: center;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    box-shadow: inset 1px 1px 6px 2px rgba(0,0,0, .25);
}

.scroll-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    overflow: hidden;

}

.scroll-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.scroll-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
